LM/XML/Schemas/Ejercicio5/ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nombre"/>
        <xs:element type="xs:int" name="dni"/>
        <xs:element type="xs:string" name="direccion"/>
        <xs:element name="edad">
          <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger">
              <xs:minExclusive value="16"/>
              <xs:maxExclusive value="25"/>
            </xs:restriction>
          </xs:simpleType>
       </xs:element>
        <xs:element type="xs:int" name="teléfono"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


