LM/XML/Schemas/Ejercicio3/ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vehiculos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vehiculo" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre" minOccurs="1" maxOccurs="unbounded"/>
              <xs:element type="xs:string" name="modelo"/>
              <xs:element name="fabricacion">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="inicio">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="dia"/>
                          <xs:element type="xs:string" name="mes"/>
                          <xs:element type="xs:string" name="anyo"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fin">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="dia"/>
                          <xs:element type="xs:string" name="mes"/>
                          <xs:element type="xs:string" name="anyo"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="modificaciones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="modificacion" maxOccurs="unbounded" minOccurs="1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

